/* Display all artists, flex and space evenly, style text */
.artists {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;

  .artistlist {
    padding: 1em;
    margin-left: 3em;
    ul {
      list-style: none;

      li {
        margin-bottom: 1em;
        font-size: 1.3em;
        font-weight: bold;

        p {
          margin: 0 1em;
          font-size: 1.2rem;
          border: none;
          background: transparent;
          text-decoration: underline;
          cursor: pointer;
          font-weight: normal;

          &:hover {
            color: #ff6a00;
          }
        }
      }
    }
  }

  /* The section of displaying the artists albums on click */
  .show {
    .albumlist {
      display: flex;
      margin: 0.5em 0;

      .albumimage {
        display: flex;
        margin-left: 0.5em;
      }

      .albumdata {
        display: flex;
        align-items: center;
        margin-left: 0.5em;
      }
    }
  }
}

/* Media queries to display artists as block */
@media screen and (max-width: 1200px) {
  .artists {
    display: block;
    text-align: center;

    .artistlist {
      margin: 0;
    }
  }
}

/* Make content wider on mobile */
@media screen and (max-width: 500px) {
  .artists {
    width: 100%;
  }
}
